body{
    padding-top: 4vh;
}
nav{
    height: 7vh;
}
.sitename{
    margin-top: 1vh;
    font-size: 5vw;
}
.landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; /* Ensure this is set */
    overflow: hidden; /* Prevents the pseudo-element from extending outside */
}
.landing::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20%; /* Adjust the height to control the fade effect area */
    background: linear-gradient(transparent, black);
}
.landingwrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding-left: 0;
    padding-top: 0;
}
.landname{
    display: block;
    text-align: center;

}
.landname h1{
    font-size: 12vh;
    display: block;
    line-height: 10vh;
}
.landname h3{
    display: inline;
    align-items: center;
    font-size: 5vw;
}
.landlink{
    padding-top: 25vh;
    display: block;
    font-size: 3vw;
}
.landlink a{
    font-size: 6.5vw;
}
.description{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 40px;
    margin-right: 40px;
}
.description h1{
    font-size: 8vw;
    line-height: 5vh;
}
.description p{
    font-size: 6vw;
}
.photoscontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    width: 300px;
    height: 400px;
    border-radius: 2.5vw;
}
.photoscontainer div{
    width: 300px;
    height: 400px;
    margin-bottom: 150px;
}
.photoname{
    font-size: 8vw;
}
footer{
    height: 20vh;
}
footer h1{
    font-size: 8vw;
}
footer p{
    font-size: 2vh;
    padding-top: 2vh;
}